__pycache__
app/__pycache__
app/entities/__pycache__
app/controllers/__pycache__
app/services/__pycache__
app/utils/__pycache__
db/data/
db/migrations/__pycache__
db/migrations/versions/__pycache__
.env
env/
plugins/*
logs
